.topbar{
    display:flex;
    margin:16px 0px;
    align-items: center;
    gap:16px
}

.searchbar{
  flex:1;
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.searchbar input{
  flex:1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}